/* Google fonts import */

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Inter", sans-serif; 
    --secondary-font: "Crimson Text", Georgia; 
    --logo-font: "Quicksand", sans-serif;
    --primary-color: #f84d1d; /* orange */
    --secondary-color: #2b674b; /* green */
    --highlight-color: #fecd04; /* yellow */
    --background-color: #f4efe7; /* cream */
    --highlight-color-light: #8491c5; /* lilac */
    --logo-color: #4a4a4a;
    --alpha: 0.5;
    }

    /* Global syles */

    body {
        font-family: var(--primary-font);
        background-color: var(--background-color);
        padding-top: 59px;
    }

    h1,
    h2,
    h3 {
        font-family: var(--secondary-font);
        color: var(--primary-color);
    }

    .section {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    /* Buttons */

    .custom-button-outline {
        border: 2px solid var(--secondary-color);
        color: var(--secondary-color);
    }

    .custom-button-outline:hover {
        background-color: var(--secondary-color);
        color: white
    }

    .custom-link {
        color: var(--primary-color);
    }

    /* Navbar */

    #navbar {
        background-color: var(--background-color);
    }

    .custom-navbar {
        height: 56px;
        padding: 0;
    }

    .navbar-brand {
        padding: 0;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .logo-img {
        height: 56px;
        margin: 0;
    }
    
    .brand-text {
        font-size: 2.5rem;
        font-family: var(--logo-font);
        font-weight: lighter;
        color: var(--logo-color);        
        margin: 0;
        padding: 0;
        text-transform: uppercase;
    }

    .navbar-collapse,
    .navbar-collapse .navbar-nav,
    .navbar-collapse .dropdown-menu {
        background-color: var(--background-color)
    }

    /* header with carousel */

    .carousel-caption {
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        left: 0;
        right: 0;
        bottom: 0; 
        width: 100%;
        padding: 0.5rem 0.5rem; 
        display: block;
    }

    .carousel-caption p {
        margin-bottom: 0.25rem;
    }

    /* Footer / contact */

    #contact {
    background-color: #B8583C;
    color: white;
    padding: 0.5rem 0;
    font-size: 0.9rem;
    }

    .footer-inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    }

    .footer-left,
    .footer-right {
    flex: 1 1 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

    .footer-left {
    justify-content: flex-start;
    align-items: center;
    }

    .footer-right {
    justify-content: flex-end;
    align-items: center;
    }

    #contact p {
    margin: 5px;
    line-height: 1.3;
    color: var(--background-color);
    }

    .social-links i {
    font-size: 1.4rem;
    margin-left: 1rem;
    color: var(--background-color);
    transition: color 0.3s;
    }

    .social-links i:hover {
    color: var(--secondary-color);
    }




    /* Media queries for different screen sizes */

    @media (min-width: 1200px) {
    .carousel-caption {
        top: auto;
        bottom: 0;
        font-size: 0.8rem;
        padding: 0.8rem;
        
    }
    } 
    
    @media (max-width: 1199px) {
    .carousel-caption {
        top: auto;
        bottom: 0;
        font-size: 1rem;
        padding: 1rem;
        
    }
    }     
     
    @media (max-width: 540px) {
    .carousel-caption {
        top: auto;
        bottom: 0;
        font-size: 0.7rem;
        padding: 0.5rem;
    }
    }

    @media (max-width: 720px) {
    .footer-inner {
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    text-align: center;
    }

    .footer-left,
    .footer-right {
    justify-content: center;
    flex: unset;
    width: 100%;
     }

    .social-links i {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    }

    #contact p {
    margin-bottom: 0.25rem;
    }
    }

